* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  font-size: 1.6rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 2rem 0 3rem 0%;
  background-color: rgb(61, 61, 61);
}
